.elementor-35 .elementor-element.elementor-element-1b581ab>.elementor-element-populated {
	margin: 0;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0
}

.elementor-35 .elementor-element.elementor-element-b4bd392:not(.elementor-motion-effects-element-type-background),
.elementor-35 .elementor-element.elementor-element-b4bd392>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000;
	background-image: url(../img/bnr-scaled.jpg.webp);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover
}

.elementor-35 .elementor-element.elementor-element-b4bd392>.elementor-background-overlay {
	background-color: #020101;
	opacity: .5;
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-35 .elementor-element.elementor-element-b4bd392 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 20px 0
}

.elementor-35 .elementor-element.elementor-element-d563b77 {
	text-align: center
}

.elementor-35 .elementor-element.elementor-element-d563b77 .elementor-heading-title {
	color: #ffce26
}

.elementor-35 .elementor-element.elementor-element-d563b77>.elementor-widget-container {
	padding: 20px 0
}

.elementor-35 .elementor-element.elementor-element-974e02a {
	padding: 0 0 20px
}

.elementor-35 .elementor-element.elementor-element-cdbb962:not(.elementor-motion-effects-element-type-background),
.elementor-35 .elementor-element.elementor-element-cdbb962>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000;
	background-image: url(../img/37128.jpg.webp);
	background-repeat: no-repeat;
	background-size: cover
}

.elementor-35 .elementor-element.elementor-element-cdbb962>.elementor-background-overlay {
	background-color: #000;
	opacity: .6;
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-35 .elementor-element.elementor-element-cdbb962 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 20px 0
}

.elementor-35 .elementor-element.elementor-element-5829884 {
	text-align: center
}

.elementor-35 .elementor-element.elementor-element-ca74576 {
	padding: 0 0 20px
}

.elementor-35 .elementor-element.elementor-element-74288f1 {
	padding: 50px 0 0
}

.elementor-35 .elementor-element.elementor-element-668c3ef .elementor-counter-title {
	color: #fff;
	font-family: roboto slab, Sans-serif;
	font-size: 22px;
	font-weight: 400
}

.elementor-35 .elementor-element.elementor-element-d346206 .elementor-counter-title {
	color: #fff;
	font-family: roboto slab, Sans-serif;
	font-size: 22px;
	font-weight: 400
}

.elementor-35 .elementor-element.elementor-element-b4b8af9 .elementor-counter-title {
	color: #fff;
	font-family: roboto slab, Sans-serif;
	font-size: 22px;
	font-weight: 400
}

.elementor-35 .elementor-element.elementor-element-8f81f0a {
	padding: 25px 0
}

.elementor-35 .elementor-element.elementor-element-b6e86ac {
	text-align: center
}

.elementor-35 .elementor-element.elementor-element-b6e86ac .elementor-heading-title {
	color: #ffce26
}

.elementor-35 .elementor-element.elementor-element-d3c6375 {
	padding: 0 0 40px
}

.elementor-35 .elementor-element.elementor-element-6fd7076 .elementor-posts-container .elementor-post__thumbnail {
	padding-bottom: calc(.66*100%)
}

.elementor-35 .elementor-element.elementor-element-6fd7076:after {
	content: "0.66"
}

.elementor-35 .elementor-element.elementor-element-6fd7076 .elementor-post__meta-data span+span:before {
	content: "•"
}

.elementor-35 .elementor-element.elementor-element-6fd7076 {
	--grid-column-gap: 30px;
	--grid-row-gap: 35px
}

.elementor-35 .elementor-element.elementor-element-6fd7076 .elementor-post__text {
	margin-top: 20px
}

.elementor-35 .elementor-element.elementor-element-6fd7076 .elementor-post__badge {
	right: 0
}

.elementor-35 .elementor-element.elementor-element-6fd7076 .elementor-post__card .elementor-post__badge {
	margin: 20px
}

.elementor-35 .elementor-element.elementor-element-a195dac:not(.elementor-motion-effects-element-type-background),
.elementor-35 .elementor-element.elementor-element-a195dac>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../img/37123.jpg.webp);
	background-repeat: no-repeat;
	background-size: cover
}

.elementor-35 .elementor-element.elementor-element-a195dac>.elementor-background-overlay {
	background-color: #000;
	opacity: .85;
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-35 .elementor-element.elementor-element-a195dac {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 100px 0 50px
}

.elementor-35 .elementor-element.elementor-element-f662307 {
	text-align: center
}

.elementor-35 .elementor-element.elementor-element-f662307 .elementor-heading-title {
	color: #ffce26
}

.elementor-35 .elementor-element.elementor-element-f662307>.elementor-widget-container {
	padding: 0 0 25px
}

.elementor-35 .elementor-element.elementor-element-49af6f8>.elementor-widget-container {
	padding: 0 0 20px 20px
}

.elementor-35 .elementor-element.elementor-element-c4776c7:not(.elementor-motion-effects-element-type-background),
.elementor-35 .elementor-element.elementor-element-c4776c7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../img/36691-scaled.jpg.webp);
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover
}

.elementor-35 .elementor-element.elementor-element-c4776c7>.elementor-background-overlay {
	background-color: #000;
	opacity: .8;
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-35 .elementor-element.elementor-element-c4776c7 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 50px 0
}

.elementor-35 .elementor-element.elementor-element-c3947ef {
	text-align: center
}

.elementor-35 .elementor-element.elementor-element-c3947ef .elementor-heading-title {
	color: #ffce26
}

.elementor-35 .elementor-element.elementor-element-c3947ef>.elementor-widget-container {
	padding: 0 0 25px
}

.elementor-35 .elementor-element.elementor-element-574b7b6:not(.elementor-motion-effects-element-type-background),
.elementor-35 .elementor-element.elementor-element-574b7b6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../img/37128.jpg.webp);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover
}

.elementor-35 .elementor-element.elementor-element-574b7b6>.elementor-background-overlay {
	background-color: #000;
	opacity: .5;
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-35 .elementor-element.elementor-element-574b7b6 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 50px 0
}

.elementor-35 .elementor-element.elementor-element-cd7003b>.elementor-element-populated {
	margin: 0;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0
}

.elementor-35 .elementor-element.elementor-element-579ccf9 {
	text-align: center
}

.elementor-35 .elementor-element.elementor-element-579ccf9 .elementor-heading-title {
	color: #ffce26
}

.elementor-35 .elementor-element.elementor-element-579ccf9>.elementor-widget-container {
	padding: 0 0 25px
}

.elementor-35 .elementor-element.elementor-element-8170641 {
	padding: 0 0 50px
}

.elementor-35 .elementor-element.elementor-element-4619b16 .eael-instafeed-item-inner {
	margin: 5px;
	border-style: groove
}

.elementor-35 .elementor-element.elementor-element-4619b16 .eael-instafeed-caption {
	background-color: rgba(137, 12, 255, .75)
}

.elementor-35 .elementor-element.elementor-element-4619b16 .eael-instafeed-caption i {
	color: #fff
}

.elementor-35 .elementor-element.elementor-element-4619b16 .eael-instafeed-caption,
.elementor-35 .elementor-element.elementor-element-4619b16 .eael-instafeed-caption-text {
	color: #fff
}

.elementor-35 .elementor-element.elementor-element-4619b16 .eael-load-more-button {
	color: #fff;
	background: #29d8d8
}

.elementor-35 .elementor-element.elementor-element-4619b16 .eael-load-more-button:hover {
	color: #fff;
	background: #27bdbd
}

.elementor-35 .elementor-element.elementor-element-683f10b {
	padding: 0 0 50px
}

.elementor-35 .elementor-element.elementor-element-9b7353c {
	text-align: center
}

.elementor-35 .elementor-element.elementor-element-c8c89f8 .elementor-swiper-button {
	font-size: 20px
}

.elementor-35 .elementor-element.elementor-element-9490a3a .eael-instafeed-caption {
	background-color: rgba(137, 12, 255, .75)
}

.elementor-35 .elementor-element.elementor-element-9490a3a .eael-instafeed-caption i {
	color: #fff
}

.elementor-35 .elementor-element.elementor-element-9490a3a .eael-instafeed-caption,
.elementor-35 .elementor-element.elementor-element-9490a3a .eael-instafeed-caption-text {
	color: #fff
}

.elementor-35 .elementor-element.elementor-element-9490a3a .eael-load-more-button {
	color: #fff;
	background: #29d8d8
}

.elementor-35 .elementor-element.elementor-element-9490a3a .eael-load-more-button:hover {
	color: #fff;
	background: #27bdbd
}

:root {
	--page-title-display: none
}

body.elementor-page-35:not(.elementor-motion-effects-element-type-background),
body.elementor-page-35>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000
}

@media(min-width:1025px) {

	.elementor-35 .elementor-element.elementor-element-b4bd392:not(.elementor-motion-effects-element-type-background),
	.elementor-35 .elementor-element.elementor-element-b4bd392>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed
	}

	.elementor-35 .elementor-element.elementor-element-cdbb962:not(.elementor-motion-effects-element-type-background),
	.elementor-35 .elementor-element.elementor-element-cdbb962>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed
	}

	.elementor-35 .elementor-element.elementor-element-a195dac:not(.elementor-motion-effects-element-type-background),
	.elementor-35 .elementor-element.elementor-element-a195dac>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed
	}

	.elementor-35 .elementor-element.elementor-element-c4776c7:not(.elementor-motion-effects-element-type-background),
	.elementor-35 .elementor-element.elementor-element-c4776c7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed
	}

	.elementor-35 .elementor-element.elementor-element-574b7b6:not(.elementor-motion-effects-element-type-background),
	.elementor-35 .elementor-element.elementor-element-574b7b6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed
	}
}

@media(max-width:767px) {
	.elementor-35 .elementor-element.elementor-element-9b57ebe>.elementor-container {
		max-width: 500px
	}

	.elementor-35 .elementor-element.elementor-element-ececc4d {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-c61ea4d {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-a2de16f {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-cc66ad2 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-9fa7927 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-2c92dcc {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-4864244 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-18c47cb {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-75302ee {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-4a38fc3 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-a90cff4 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-5351b92 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-f6d6b8c {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-c7e51f0 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-dd79921 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-34411f6 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-77c9809 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-4d319fc {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-74288f1 {
		padding: 50px 0
	}

	.elementor-35 .elementor-element.elementor-element-ce9af37 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-28439e2 {
		width: 50%
	}

	.elementor-35 .elementor-element.elementor-element-6fd7076 .elementor-posts-container .elementor-post__thumbnail {
		padding-bottom: calc(.5*100%)
	}

	.elementor-35 .elementor-element.elementor-element-6fd7076:after {
		content: "0.5"
	}

	.elementor-35 .elementor-element.elementor-element-574b7b6 {
		padding: 50px 0
	}

	.elementor-35 .elementor-element.elementor-element-8170641 {
		padding: 0 0 50px
	}

	.elementor-35 .elementor-element.elementor-element-683f10b {
		padding: 20px 0 50px
	}

	.elementor-35 .elementor-element.elementor-element-5b2077b {
		padding: 50px 0
	}

	.elementor-35 .elementor-element.elementor-element-9490a3a .eael-instafeed-item-inner {
		margin: 5px
	}
}